* {
    /* border: 1px solid red; */
    font-family: Arial, Helvetica, sans-serif;
}

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8125rem;
        font-weight: 400;
        line-height: 1.25rem;
        height: 685px;
        max-width: 1500px;
        /* border: 5px solid black; */
    }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 690px;
    max-width: 1500px;
    /* border: 5px solid blue; */
}


fieldset {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 340px;
    width: 500px;
}

.password {
    /* border: 5px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-indent: 100px;
    height: 20px;
    text-decoration: none;
    width: 500px;
}

.continue {
    background-color: gold;
    height: 40px;
    font-size: medium;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    padding: 0%;
}

.sign {
    display: flex;
    flex-direction: column;
    height: 30px;
    font-size: 2em;
    padding: 5px;
}

.email-label {
    display: flex;
    flex-direction: column;
    height: 25px;
    font-size: 1em;
    padding: 5px;
}

.email-input {
    display: flex;
    flex-direction: column;
    height: 30px;
    font-size: medium;
    padding: 5px;
}

.password-input {
    display: flex;
    flex-direction: column;
    height: 30px;
    font-size: medium;
}

.help {
    text-decoration: none;
}

.new {
    text-indent: 30px;
}

.create {
    background-color: lightgray;
    height: 40px;
    font-size: medium;
    width: 500px;
    border-radius: 5px;
}

.line {
    color: darkgray;
    font-weight: bolder;
}

.foot {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 30px;
    width: 500px;
    text-decoration: none;
}

.inc {
    /* border: 3px solid green; */
    display: flex;
    justify-content: space-around;
    height: 30px;
    width: 500px;
}